@import "tailwindcss";


* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(78, 12, 0), rgb(4, 0, 0));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.app {
    max-width: 1380px;
    min-height: 100vh;
    margin: 0 auto;
}


.submit-btn:hover {
    transition: all 0.6s ease-in-out;
}

.submit-btn:hover .search-icon {
    font-size: large;
    transform: rotate(360deg);
    transition: all 1s ease-in-out;
    animation: none;
}

@keyframes fadeIn {

    0%,
    100% {
        transform: translateY(0px);
        opacity: 0.5;
    }

    50% {
        transform: translateY(-9px);

        opacity: 1;
    }
}

.scroll-btn {
    animation: fadeIn 2.5s ease-in infinite;
}

dl div {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: large;
}

dl dt {
    font-size: 22px;
}